h1{
    background-color: gold;
    color: black;
}

li{
    color:white;
    margin: 7px; 
    padding: 1px;
    border-bottom: solid  gold;
    border-left: solid gold;
    font-size: 20px
}

#filter{
    font-size: 23px
}

#banner{
    font-size: 30px;
}

#classroom{
    color: white;
    font-size: 25px
}

body {
  background-color: #1e1e1e;
}