<!DOCTYPE html>
<html>
    <head>
        
        <!-- Vue.js -->
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <!-- Axios for requests -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>        

    </head>

    <body>

        <div id="app">
            
            <h1>
                DevMode - tuSalon %{passText}%
            </h1>

            <input type = 'password' v-model = 'input'>

            <button v-if='!logOn' v-on:click="login(input)">
                Login
            </button>

            
            <template v-if='logOn'>

                <button  v-on:click="recallInfo()">
                    Recall Info
                </button>

                <button  v-on:click="recallLogs()">
                    Recall Logs
                </button>

                <button  v-on:click="recallGet()">
                    Recall DB's Get's
                </button>

                <button  v-on:click="recallClassrooms()">
                    Recall classrooms
                </button>

                <template v-if='typeof(dbInfo) === "string"'>
                    <p>
                        %{dbInfo}%
                    <p>
                </template>
                <template v-else>
                    <li v-for='data in dbInfo'>
                        %{data}%
                    </li>
                </template>


            </template>

        </div>

        <script>

        var app = new Vue
        ({
            el: '#app',
            delimiters: ['%{', '}%'],
            data:
            {
                input: '',
                dbInfo: '---',
                passText: '- Insert password',
                logOn: false
            },
            methods:
            {
                login: function () 
                {
                    var localThis = this
                    axios.post('/devMode', 
                    {
                        password: String(localThis.input),
                        info: String(navigator.language) + " // " + navigator.userAgent
                    }
                    ).then(function (response) {
                        console.log(response);
                        if (response.data === 'HiM8 wnt sum fuk?')
                        {
                            localThis.logOn = true
                            localThis.passText = ''
                        }
                        else
                        {
                            localThis.logOn = false
                            localThis.passText = '- Try again'
                        }
                    }).catch(function (error) {
                        localThis.passText = '- Error while checking password'
                        console.log(error);
                    });

                },
                
                recallInfo: function()
                {
                    var localThis = this
                    axios.get('/db/recall/test', 
                    {
                        password: String(localThis.input),
                        info: String(navigator.language) + " // " + navigator.userAgent
                    }
                    ).then(function (response) 
                    {
                        localThis.dbInfo = response.data + ''
                        console.log("success! " + response.data + "\n type: " + typeof(response.data))                        
                    }).catch (function (error) 
                    {
                        console.log(error)
                    })
                },

                recallLogs: function()
                {
                    var localThis = this
                    axios.post('/devMode/recall/logAttempts', 
                    {
                        password: String(localThis.input),
                        info: String(navigator.language) + " // " + navigator.userAgent
                    }
                    ).then(function (response) 
                    {
                        localThis.dbInfo = response.data.replace(/\\n/g, '')
                        localThis.dbInfo = localThis.dbInfo.split(',') //Passwords using ',' will cause odd display
                    }).catch (function (error) 
                    {
                        console.log(error)
                    })
                },

                recallGet: function()
                {
                    var localThis = this
                    axios.post('/devMode/recall/getTimes', 
                    {
                        password: String(localThis.input),
                        info: String(navigator.language) + " // " + navigator.userAgent
                    }
                    ).then(function (response) 
                    {
                        localThis.dbInfo = response.data
                    }).catch (function (error) 
                    {
                        console.log(error)
                    })
                },

                recallClassrooms: function()
                {
                    var localThis = this
                    axios.post('/devMode/post/classroomInfo', 
                    {
                        password: String(localThis.input),
                        info: String(navigator.language) + " // " + navigator.userAgent
                    }
                    ).then(function (response) 
                    {
                        localThis.dbInfo = response.data
                    }).catch (function (error) 
                    {
                        console.log(error)
                    })
                }
            }
        })

        </script>

    </body>
</html>