<!DOCTYPE html>
<html>
    <head>
        <!-- Vue.js -->
        <script src="https://unpkg.com/vue@2.4.2"></script>
        <!-- Axios for requests -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <!-- CSS -->
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
    </head>
    <body>
        <div id='app'>
            <div id='banner' >
                
                <img src="static/sobrecupo-logo.png" alt="Sobrecupo-logo">

            </div>
            <div id='classroom'>
                <h1>%{freeClassroom}%</h1>
            </div>

            <div id = 'filter'>
                <button v-on:click="randomClassroom()">Otro salón!</button>
                <input type="checkbox" v-model="onlyTotallyFree"> Solo mostrar salones libres hasta el final del día </input>
                <select v-model="buildingFilter">
                    <option value = "">Todos los edificios</option>
                    <option v-for="classroom in allBuildings" v-bind:value="classroom"> %{classroom}% </option>
                </select>
            </div>

            <div id ='other'>
                <li v-for='clazzroom in finalClassrooms'>
                    %{formatFreeClassroom(clazzroom)}%
                </li>
            </div>
        </div>
        <script>

            var app = new Vue
            ({
                el: "#app",
                delimiters: ['%{', '}%'],
                data: {
                    info: null,
                    freeClassrooms: [],
                    freeClassroom: "Cargando...",
                    filterClassrooms: [],
                    allBuildings: [],
                    onlyTotallyFree: false,
                    buildingFilter: "",
                    date: new Date()
                },

                methods: 
                {
                    classroomNow: function(date)
                    {
                        //First part of the method generates day schedule from base json
                        classrooms = this.info
                        exceptions = []
                        localClassrooms = {}
                        today = this.generateDate(date)
                        for(classroom in classrooms)
                        {
                            schedule = []
                            exceptions = classrooms[classroom]["exceptions"][today]
                            console.log("Exceptions " + classroom + " // " + today + ":")
                            console.log(exceptions)
                            if(exceptions != undefined)
                            {
                                //The 'today' field contains a string with the format "SCH$$SCH$$ (...)"
                                //TODO error may be on month/day format (AGO = 08 and not 8, etc.)
                                schedule.concat(exceptions.split("$$"))
                            }
                            //This line converts to a JS object but the string is not optimally formed, so it has to replace
                            // ' ocurrences with " to be a valid json to parse
                            base = JSON.parse(classrooms[classroom][(date.getDay()-1).toString()].replace(/\'/g, '\"'))

                            for(sch in base)
                                schedule.push(base[sch])
                            
                            localClassrooms[classroom] = schedule
                        }

                        //Second part, finds free classrooms from previous data structure formed

                        console.log("Local classrooms: ")
                        console.log(localClassrooms)

                        hour = date.getHours()*100 + date.getMinutes()

                        for(classroom in localClassrooms)
                        {
                            //Warden variable, modeling that the hour belongs to the tuple
                            warden = true

                            //Variable that saves the shortest (but positive) difference betweeen
                            //the first element of all cointinuity tuples
                            timeUntilOccupation = 9000

                            //Variables that store information to fix base 10 aritmethic offset (later explained)
                            hourI = 0
                            hourF = 0

                            for(continuityTuple in localClassrooms[classroom])
                            {
                                continuity_tuple = localClassrooms[classroom][continuityTuple].split(/ - /g)

                                //console.log("Non split: " + localClassrooms[classroom][continuityTuple])
                                //console.log("Splitted: " + continuity_tuple)

                                //Checks if given hour is within continuityTuple
                                if(this.isInCountinuityTuple(hour, continuity_tuple))
                                {
                                    //If so, it means that the classroom is occupied, thus, there's no need to check
                                    //if it's within another tuple (and continue with the next classroom)
                                    warden = false
                                    break
                                }

                                //Compares actual continuity tuple difference with the actual best aproximation
                                tupleHour = parseInt(continuity_tuple[0])
                                difference = tupleHour - hour

                                if(difference > 0 && difference<timeUntilOccupation)
                                {
                                    //Due to implementation, base 10 aritmethic will result in unconsistent behaviour
                                    //when time comparisons are made between different hours (ie. 09:45 vs 10:10)

                                    //This will be fixed later using hourI/F
                                    timeUntilOccupation = difference

                                    hourI = Math.floor(hour/100)
                                    hourF = Math.floor(tupleHour/100)
                                }
                            }

                            //If the warden remains true, the hour is not in any tuple of the classrooms
                            //schedules, meaning it's free! (eureka!)
                            if (warden)
                            {
                                //Printing state
                                console.log("----Start----")
                                console.log("hI: " + hourI)
                                console.log("hF: " + hourF)
                                

                                //Creates an object with classroom id as a key and time until occupation as value
                                if(timeUntilOccupation == 9000)
                                    timeUntilOccupation = "Hasta el final del día"
                                
                                //Due to implementation, base 10 aritmethic will result in unconsistent behaviour
                                //when a classroom is free for longer than 60 minutes

                                //Formula obtained by experimental trial and error
                                else if(hourF-hourI > 0)
                                {
                                    console.log("TUO before: " + timeUntilOccupation)
                                    timeUntilOccupation = timeUntilOccupation - (40*(hourF - hourI))
                                    console.log("TUO after: " + timeUntilOccupation)
                                }

                                //--
                                classroomObject = {}
                                classroomObject["id"] = classroom
                                classroomObject["TUO"] = timeUntilOccupation
                                //--

                                this.freeClassrooms.push(classroomObject)
                            }

                            //Note that if the class is not free, timeUntilOcupation's value is irrelevant
                            //(for now) [as well with hourI/hourF]


                            //----------Creating unique building list---------
                            if(!this.arrContains(this.allBuildings, this.extractBuilding(classroom)))
                                this.allBuildings.push(this.extractBuilding(classroom))
                            //-------------------
                        }
                    },

                    generateDate: function(date)
                    {
                        day = date.getDate()
                        if(day < 10)
                            day = "0" + day
                        month = date.getMonth()+1
                        if(month < 10)
                            month = "0" + month
                        return day + "/" + month + "/17"
                    },

                    //@TODO Correct empty interval-emptiness 
                    //(technically all classrooms are free between classes)
                    isInCountinuityTuple: function(hour, tuple)
                    {
                        //A continuity tuple is defined as a continous time interval in which the classroom is occupied.
                        //The method just checks if the given hour is between the boundaries of the given tuple

                        //tuple[0] is the lower boundary
                        //tuple[1] is the uppper boundary

                        //If the hour is bigger than the lower boundary
                        if(hour >= parseInt(tuple[0]) /*plus/minus the dead time interval*/ - 10)
                        {
                            //and is lower than the upper boundary
                            if(hour < parseInt(tuple[1]))
                            {
                                //Then, it means that it is within the boundaries
                                return true
                            }
                        }
                        return false
                    },

                    formatFreeClassroom: function(classroom)
                    {
                        msg = ""
                        msg += classroom.id

                        if(typeof(classroom.TUO) == "string")
                            msg += ": Está libre hasta el final del dia"
                        else
                            msg += ": Está libre durante " + classroom.TUO + " minutos"
                        
                        return msg
                    },

                    randomClassroom: function()
                    {
                        if(this.freeClassrooms.length == 0)
                        {
                            this.freeClassroom = "Paila"
                            return this.freeClassroom
                        }
                        else
                        {
                            number = Math.random()*(this.freeClassrooms.length-1)
                            number = Math.round(number)
                            chosen = this.freeClassrooms[number]

                            this.freeClassroom = this.formatFreeClassroom(chosen)
                            return this.freeClassroom;
                        }
                    },

                    arrContains: function(array, element)
                    {
                        for (i in array)
                            if (array[i] == element)
                                return true
                        return false
                    },

                    extractBuilding: function(classroom)
                    {
                        str = classroom.split("_")[0]
                        return str.slice(1)
                    }
                },                

                //Method called just after the instance is created
                mounted: function()
                {
                    //Using a pointer to this due to the context change on axios function
                    var localThis = this
                    axios.get('/salones').then(function (response) 
                    {
                        console.log(response.data)
                        localThis.info = response.data

                        //Performance testing
                        temp = new Date()
                        time = temp.getTime()

                        localThis.classroomNow(localThis.date)

                        temp = new Date()
                        time = temp.getTime() - time
                        console.log("Performance: " + time + "ms")
                        console.log(localThis.freeClassrooms)

                        localThis.randomClassroom()

                    }).catch (function (error) 
                    {
                        console.log(error)
                    })
                },

                computed:
                {
                    //Retorna el arreglo de salones
                    finalClassrooms: function()
                    {
                        filter = []

                        if(this.onlyTotallyFree)
                        {
                            for(classroom in this.freeClassrooms)
                            {
                                if((typeof(this.freeClassrooms[classroom].TUO) == "string"))
                                {
                                    filter.push(this.freeClassrooms[classroom])
                                }                          
                            }
                        }
                        else
                        {
                            filter = this.freeClassrooms
                        }
                        

                        if (this.buildingFilter != "")
                        {
                            newFilter = []
                            classroomBuilding = ""

                            for(classroom in filter)
                            {
                                classroomBuilding = this.extractBuilding(filter[classroom].id)
                                console.log("CB: " + classroomBuilding + "//filter: " + this.buildingFilter)
                                if(classroomBuilding == this.buildingFilter)
                                    newFilter.push(filter[classroom])
                            }

                            //Overwrite previous filter. newFilter is contained into filter (nF C_ F)
                            filter = newFilter                            
                        }

                        return filter
                    }
                }
            
            })            
    
        </script>

        <!-- Google analytics -->
        
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        
            ga('create', 'UA-105605349-1', 'auto');
            ga('send', 'pageview');
        </script>

    </body>
</html>