<!DOCTYPE html>
<html>
    <head>
        
        <!-- Vue.js -->
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <!-- Axios for requests -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>        

    </head>

    <body>

        <div id="app">
            
            <h1>
                Requests {{lista}} + {{input}}
            </h1>

            <input v-model = 'input'>

            <br>

            <button v-on:click="getTest('/db/' + input)">
                Submit to de DB
            </button>

            <button v-on:click="recallDB()">
                Recall Info
            </button>

            <p>
                {{dbInfo}}
            </p>

            {{dbInfo}}

        </div>

        <script>
        
        var app = new Vue
        ({
            el: '#app',
            data:
            {
                lista: [],
                input: '',
                dbInfo: 'NotClickedYet',
                ovh: ''
            },
            methods:
            {
                getTest: function (url) 
                {
                    console.log("submitting: " + url)
                    axios.get(url).then(function (response) {
                        console.log(response);
                    }).catch(function (error) {
                        console.log(error.message);
                    });

                },

                recallDB: function()
                {
                    axios.get('/db/recall').then(function (response) 
                    {
                        console.log("success! " + response.data + "\n type: " + typeof(response.data))
                        this.dbInfo = response.data
                        dbInfo = response.data
                    }).catch (function (error) 
                    {
                        console.log(error)
                    })
                }
            }
        })

        </script>

    </body>
</html>