<!DOCTYPE html>
<html>
    <head>
        <!-- Vue.js -->
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <!-- Axios for requests -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id='app'>
            <div id='banner'>
            </div>
            <div id='classroom'>
            </div>
            <div id ='other'>
                %{info}%
            </div>
        </div>
        <script>

            var jsInfo = {{jsonInfo|tojson|safe}};

            var app = new Vue
            (
                el: "#app",
                delimiters: ['%{', '}%'],
                data: {
                    info: jsInfo,
                    freeClassrooms: [],
                    freeClassroom: "",
                    date: new Date()
                },

                methods:{
                    classroomNow: function(json, day, date)
                    {
                        return 'w'
                    }
                }

            )
            
    
        </script>
    </body>
</html>